# project specific
db.sqlite3
favicons.zip
links.txt
sandbox/
static/
upload/
models_*.pdf
models_*.png
dump.rdb


# dotenv
.env
env

# production
production.py
credentials/
credentials.py

# User list
auth.User.json

# Data
data/
export.csv
*.csv.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Lock files
~*.xlsx
*.swp

# Distribution / packaging
src/
.Python
.DS_Store
build/
dist/
downloads/
.eggs/
*.egg
*.egg-info/
eggs/
develop-eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg

#
source/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# pyenv
.python-version

# virtualenv
.venv
env/
venv/
ENV/

# Visual Studio Code
.vscode/
